@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @*iniative list*@
    <div id="encounter-container" class="col-md-6">
        @{ await Html.RenderPartialAsync("~/Views/Encounter/Create.cshtml");}

    </div>
    @*info container*@
    <div class="col-md-6 encounter-container">
        @*character info*@
        <div id="character-container">

        </div>
        @*encounter notes*@
        <div>
            <!--<textarea class="form-control"></textarea>-->
        </div>
    </div>
</div>
