@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @*iniative list*@
    <div class="col-md-6 encounter-container">
        @*encounter controls*@
        <div>

        </div>
        @*List*@
        <div>

        </div>
    </div>
    @*info container*@
    <div class="col-md-6 encounter-container">
        @*character info*@
        <div>

        </div>
        @*encounter notes*@
        <div>
            <textarea class="form-control"></textarea>
        </div>
    </div>
</div>