@{
    ViewData["Title"] = "Home Page";
}

<div id="encounter-wrapper" class="row">
    @*iniative list*@
    <div id="encounter-container" class="col-md-6 eote-container-style no-padding">
        @{ await Html.RenderPartialAsync("~/Views/Encounter/Create.cshtml");}

    </div>
    @*info container*@
    <div class="col-md-6">
        @*character info*@
        <div id="character-container" class="eote-container-style">

        </div>
        @*encounter notes*@
        <div>
            <!--<textarea class="form-control"></textarea>-->
        </div>
    </div>
</div>
