@model EotE_Encounter.Models.Encounter

<div>
    <h3>@Model.Name</h3>
    <div>
        <form asp-action="CreateCharacter" asp-controller="Character" data-bind="" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#character-container">
            <input id="encounterId" name="encounterId" type="hidden" value="@Model.Id" />
            <button class="btn btn-default" type="submit">Create Character</button>
        </form>
    </div>
    <hr />
    <div>
        <div class="list-group">
            
            @{
                if(Model.Characters != null)
                {
                    foreach(Character character in Model.Characters)
                    {
                        <a class="list-group-item">@character.Name</a>
                    }
                }
            }        
        </div>
    </div>
</div>
